<form action="/auth/login" method="POST">
   <label> Username
      <input type="text" name="username">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>
   <a href="home/home-page">
   <button type="submit">Submit</button>
   </a>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}