<html lang="en">
  <head>
    <link rel="shortcut icon" href="/images/plan.png"
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{PLAN}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/styleH.css" />
  </head>
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="images/planLogoBlanco.png" alt="" >
    <h1 class="display-5 fw-bold" style="color:azure"></h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4" style="color:aliceblue">Organize your plan with people who share your interests through online and in-person events. </p>
      <br>
      <p style="color:gainsboro">Creating an account is free.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/auth/login">
        <button type="button" class="btn btn-dark btn-lg px-4 gap-3">LOG IN</button>
      </a>
      <a href="/auth/signup">
        <button type="button" class="btn btn-dark btn-lg px-4 gap-3">SIGN UP</button>
      </a>
      </div>
    </div>
  </div>
</body>
</html>


