*{
    font-family: 'Pathway Gothic One', sans-serif;
    background-repeat: no-repeat;
    
  }
  body {
    height: 800px;
    background-color: black;
    background-size: cover;
    /* background-size: 25rem; */
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: 'Courier New', Courier, monospace;
    background-image: src("/images/backgroundWhite");
  }

  .ripple{
    border-radius: 50%;
    size: 60%;
  }
  