body {
  height: 800px;
  background-image: url("/images/back.png");
  background-size: cover;
  /* background-size: 25rem; */
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  font-family: 'Courier New', Courier, monospace;
  background-image: src("/images/backgroundWhite");
}
