<html lang="en">
  <head>
    <link rel="shortcut icon" href="/images/plan.png"
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{PLAN}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>
  </head>
  <body>
<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home/home-page">P L A N</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home/home-page">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" href="/home/misEventos">My Events</a>
        </li>
      </ul>
         <a href="/auth/logout"><button class="btn btn-outline-success" type="submit">LOG OUT</button></a>

    </div>
  </div>
</nav>

  <!--SLIDES-->
<div id="slides" content="width=device-width, initial-scale=1.0" styles="width: device-width; align-content: justify" >
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/carrusel/nightOUT.png" class="d-block w-0" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>PLAN  YOUR  NIGHT OUT IN THE CLUB</h5>
        <p>Feeling like dancing? Go out with ypur friends tonight!</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/carrusel/game3.png" class="d-block w-0" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>PLAN A GAME NIGHT AT HOME</h5>
        <p>VIDEOGAMES, BOARDGAMES, DRINKGAMES... CHOOSE YOUR OPTION</p>
        {{!-- <h5>PLAN  YOUR  MOVES</h5>
        <p>Share your moves on the dance floor</p> --}}
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/carrusel/dinnerOut3.png" class="d-block w-0" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>PLAN  YOUR  DINNER</h5>
        <p>Go to your favorite restaurant and have an amaizing time with your friends</p>
      </div>
      </div>
     <div class="carousel-item">
      <img src="/images/carrusel/gameIN3.png" class="d-block w-0" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>PLAN  A NIGHT IN PLAYING GAMES</h5>
        <p>No matter who wins, care about having fun</p>
      </div>
      </div>
          <div class="carousel-item">
      <img src="/images/carrusel/party3.png" class="d-block w-0" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>PLAN A NIGHT OUT</h5>
        <p>Prepare your best moves! Tonight we will dance until the sunrise!</p>
      </div>
      </div>
          <div class="carousel-item">
      <img src="/images/carrusel/sing3.png" class="d-block w-0" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>PLAN YOUR KARAOKE</h5>
        <p>SINGIN WITH YOUR FRIENDS IS THE BEST THING YOU CAN DO</p>
      </div>
      </div>
          <div class="carousel-item">
      <img src="/images/carrusel/nightOUT3.png" class="d-block w-0" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>PLAN YOU NIGHT OUT</h5>
        <p>Party out with your friends</p>
      </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  </div>
</div>
<!-- TEXTO DE TÍTULO-->
<br>
<br>
<H2 class="text-center" style="color:white">CHOOSE IF YOUR PLAN WILL BE: IN OR OUT</H2>
<br>
<br>
<div id="box_1">
	<div id="box_2">
<container style="
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      align-content: center;
  ">
<div class="
      container-fluid" style="
      margin-top:10px; 
      margin-right:5%; 
      margin-left: 5%; 
      margin-bottom:15px; 
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: flex-start;
      align-content: stretch;">
<!--IMAGEN CON OPCIÓN DE CLICK PARA SELECCIÓN IN DOS PERSONAS /-->
<a class="ripple" href="/masPersonas/in-masPersonas" id="opc">
      <img
        alt="example"
        class="rounded float-start"
        src="/images/friendsIN.jpeg"
      style= 
      "widht: 300px ;
      height: 300px ;
      align: center;
      border-radius: 150px"/>
</a>

<!--IMAGEN CON OPCIÓN DE CLICK PARA SELECCIÓN OUT DOS PERSONAS /-->
<a class="ripple" href="/masPersonas/out-masPersonas" id="opc">
      <img
        alt="Opción OUT"
        class="rounded float-end"
        src="/images/friendsOUT.jpeg"
        style= 
      "widht: 300px ;
      height: 300px ;
      align: center; 
      border-radius:150px"
  />


</a>
</div>
</container>

<div class="d-flex align-items-baseline"
      style="
      margin-top:20px; 
      margin-right:5%; 
      margin-left: 5%; 
      margin-bottom:15px; 
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: space-between;
      align-content: space-evenly;">
    <a href="/masPersonas/in-masPersonas">
      <button type="button" class="btn btn-dark">IN</button>
    <a href="/masPersonas/out-masPersonas">
      <button type="button" class="btn btn-dark">OUT</button>
    </a>
  </div>
</div>
</div>
</div>
  </body>
</html>




