<html lang="en">
  <head>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
      <script src="/js/script.js"></script>
    <link rel="shortcut icon" href="/images/plan.png"/>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{PLAN}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/styleW.css" />
  </head>
  <body background= src("/images/backgroundWhite")>
<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">P L A N</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home/home-page">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search" 
      style=
        "justify-content: flex-end;
          align-items: center;
          align-content: center;">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<!--VIDEO-->
<div class="video" >
  <video class="videos" width="1400" height="200" title="Teaser video" allowfullscreen> 
      <source src="/images/PLAN-teaser.mp4" autoplay />
 </video>
</div>
<h1 class="text-center" style="color:white">For how many people do you want to PLAN?</H1>
<br>
<br>
<div id="box_1">
	<div id="box_2">
<container style="
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      align-content: center;
  ">
<div class="
      container-fluid" style="
      margin-top:10px; 
      margin-right:5%; 
      margin-left: 5%; 
      margin-bottom:15px; 
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: flex-start;
      align-content: stretch;">
<!--IMAGEN CON OPCIÓN DE CLICK PARA SELECCIÓN  DOS PERSONAS /-->
<a class="ripple" href="/home/home-dosPersonas" id="opc">
      <img
        alt="example"
        class="rounded float-start"
        src="/images/two.jpg"
      style= 
      "widht: 300px ;
      height: 300px ;
      alaign: center;
      border-radius: 50%"/>
</a>

<!--IMAGEN CON OPCIÓN DE CLICK PARA SELECCIÓN 3 o MÁS PERSONAS /-->
<a class="ripple" href="/home/home-masPersonas" id="opc">
      <img
        alt="Opción OUT"
        class="rounded float-end"
        src="/images/more.png"
        style= 
      "widht: 300px ;
      height: 300px ;
      alaign: center; 
      border-radius:50%"
  />


</a>
</div>
</container>
<!--BOTONES PARA SELECCIÓN /-->
<div class="d-flex align-items-baseline"
      style="
      margin-top:20px; 
      margin-right:5%; 
      margin-left: 5%; 
      margin-bottom:15px; 
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: space-between;
      align-content: space-evenly;">
    <a href="/home/home-dosPersonas">
      <button type="button" class="btn btn-dark">2 people</button>
    <a href="/home/home-masPersonas">
      <button type="button" class="btn btn-dark">3 or more</button>
    </a>
  </div>
</div>
</div>
</div>
  </body>
</html>

  </body>
</html>



