<h1>NUEVO EVENTO</h1>

<ul class="list-group">
  <li class="list-group-item"><label>Name: </label> {{name}} </li>
  <li class="list-group-item"><label>Description: </label> {{description}} </li>
  <li class="list-group-item"><label>Date: </label>  {{date}} </li>
  <li class="list-group-item"><label>Number Of People: </label> {{numberOfPeople}} </li>
  <li class="list-group-item">AQUI VA EL MAPA</li>
</ul>
