<html lang="en">
  <head>
    <link rel="shortcut icon" href="/images/plan.png"
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{PLAN}}</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
<!--NAVBAR -->
<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">P L A N</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home/home-page">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Algo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Algo más</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Who is coming to the PLAN?
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/home/home-dosPersonas">Two people</a></li>
            <li><a class="dropdown-item" href="/home/home-masPersonas">More than two people</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>
    <div id="bigBox">
    <br>
     {{!-- <h1 style="color:white; justify-content: center; 	align-items: center;">
      Choose a category
      </h1>    --}}
      <img src="/images/category.png" class="img-fluid" alt="CHOOSE A CATEGORY">
 <br>
 <br>
<!--CATEGORÍAS-->
<div class="d-flex flex-row mb-3">
  
  <!--Primera categoría: COMIDA-->
  <div class="p-2">
    <a class="ripple" href="/masPersonas/out?tipo4=cena" id="opc">
      <img
        alt="DINNER OUT";
        class="rounded float-end";
        src="/images/masPersonas/dinnerOUT.jpg";
        style= 
      "widht: 300px ;
      height: 300px ;
      align: center; 
      border-radius:150px"
  />
  </div>
  <div class="p-2">
    <div style="align: center">
        <h1 style="color: white">Dinner</h1>
      <br>
        <h4 style="color: white">Try having a night in with your friends and choose one of the multiple options for your dinner</h4>
    </div>
    <div>
      <br>
      <br>
      <a href="/masPersonas/out?tipo4=cena">
      <button type="button" class="btn btn-light">DINNER OPTIONS</button>
    </div>
  </a>
  </div>
  <div class="p-2"></div>
</div>
<br>
<br>
  <!--Segunda categoría: PELÍCULAS-->
<div class="d-flex flex-row-reverse">
  <div class="p-2">
    <a class="ripple" href="/masPersonas/out?tipo4=cine" id="opc">
      <img
        alt="MOVIE NIGHT";
        class="rounded float-end";
        src="/images/masPersonas/movies3.jpg";
        style= 
      "widht: 300px ;
      height: 300px ;
      align: center; 
      border-radius:150px"
      />
  </div>
  <div class="p-2">
    <div style="align-content: left">
        <h1 style="color: white">Movie night</h1>
      <br>
        <h4 style="color: white">What a perfect plan to have a movie night with your friends. </h4>
          <h4 style="color: white">Choose a movie, have your popcorns!</h4>
    </div>
      <br>
      <br>
      <br>
        <a href="/masPersonas/out?tipo4=cine">
    <button type="button" class="btn btn-light">MOVIES</button>
    </a>
  </div>
</div>
      <br>
      <br>
      <br>
  <!--Tercer categoría: BAR-->
<div class="d-flex flex-row mb-3">
  <div class="p-2"> <a class="ripple" href="/masPersonas/out?tipo4=bar" id="opc">
      <img
        alt="GAME NIGHT";
        class="rounded float-end";
        src="/images/masPersonas/bar3.jpg";
        style= 
      "widht: 300px ;
      height: 300px ;
      align: center; 
      border-radius:150px"
      /></div>
  <div class="p-2">
            <div style="align: center">
        <h1 style="color: white">Bar</h1>
      <br>
        <h4 style="color: white">A few drinks are never too much. </h4>
        <h4 style="color: white">Taste from a beer to a martini in the best bars in the city.</h4>
    </div>
      <br>
      <br>
      <br>
          <a href="/masPersonas/out?tipo4=bar">
      <button type="button" class="btn btn-light">BAR</button>
      </a>
  </div>
</div>
</body>
</html>
